# Unify contributor identities
# Format: Canonical Name <canonical@email> Alias Name <alias@email>
Peter Bruinsma <peter@23min.com> Peter Bruinsma <peter.bruinsma@biometria.se>
Peter Bruinsma <peter@23min.com> Peter Bruinsma <peterbru@gmail.com>
